html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

md-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  md-sidenav-layout {
    background: rgba(0, 0, 0, .03);
  }
  .sidenav {
    width: 300px;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
  