/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }